* {
padding: 0;
margin: 0;
box-sizing: border-box;
}

body {
/* display: flex;
align-items: center;
justify-content: center; */
padding: 18px;
/*height: 100vh; */
width: 100%;
}

@media only screen and (max-width: 600px) {

    body {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .container {
        height: 80vh;
        width: 90%;
        overflow: hidden;
        border-radius: 25px;
        border: 2px solid black;
        position: absolute;
        top: 30px;
        left: 20px;
    }

    .container video {
        width: 400px;
    }

    .scroll {
        width: 90vw;
        height: 70px;
        display: flex;
        flex-direction: row;
        align-items: center;
        overflow-x: auto;
        justify-content: space-evenly;
        position: absolute;
        bottom: 20px;
        padding: 10px 20px;
        padding-left: 20px;
        cursor: pointer;
        border: 2px solid black;
    }

    .btn{
        width: 70px;
        height: 40px;
        /* padding: 10px; */
        font-size: 20px;
        border: 2px solid black;
        border-radius: 8px;
        /* margin: 0px 10px; */
        background-color: white;
        cursor: pointer;
    }

    .video {
        width: 480px;
        height: 320px;
    }
}